//----------------------------------------------------//
// FONTS                                              //
//----------------------------------------------------//

// Garniture => Helvetica Neue
//--------------------------------------------------//


@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue.eot');
  src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue.woff2') format('woff2'),
  url('../fonts/HelveticaNeue.woff') format('woff'),
  url('../fonts/HelveticaNeue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-Thin.eot');
  src: url('../fonts/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue-Thin.woff2') format('woff2'),
  url('../fonts/HelveticaNeue-Thin.woff') format('woff'),
  url('../fonts/HelveticaNeue-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-Light.eot');
  src: url('../fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue-Light.woff2') format('woff2'),
  url('../fonts/HelveticaNeue-Light.woff') format('woff'),
  url('../fonts/HelveticaNeue-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
//@font-face {
//  font-family: 'Helvetica Neue';
//  src: url('../fonts/HelveticaNeueCyr-Thin.eot');
//  src: url('../fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/HelveticaNeueCyr-Thin.woff2') format('woff2'),
//  url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
//  url('../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype'),
//  url('../fonts/HelveticaNeueCyr-Thin.svg#robotoregular') format('svg');
//  font-weight: 200;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'Helvetica Neue';
//  src: url('../fonts/helveticaneuecyr-thinitalic-webfont.eot');
//  src: url('../fonts/helveticaneuecyr-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/helveticaneuecyr-thinitalic-webfont.woff2') format('woff2'),
//  url('../fonts/helveticaneuecyr-thinitalic-webfont.woff') format('woff'),
//  url('../fonts/helveticaneuecyr-thinitalic-webfont.ttf') format('truetype'),
//  url('../fonts/helveticaneuecyr-thinitalic-webfont.svg#robotoregular') format('svg');
//  font-weight: 200;
//  font-style: italic;
//}
//
//@font-face {
//  font-family: 'Helvetica Neue';
//  src: url('../fonts/HelveticaNeueCyr-Light.otf') format('opentype');
//  src: url('../fonts/HelveticaNeueCyr-Light.otf') format('opentype'),
//  url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
//  url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
//  url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype'),
//  url('../fonts/HelveticaNeueCyr-Light.svg#helveticaneuecyrlight') format('svg');
//  font-weight: 300;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'Helvetica Neue';
//  src: url('../fonts/HelveticaNeueCyr-Roman.otf') format('opentype');
//  src: url('../fonts/HelveticaNeueCyr-Roman.otf') format('opentype'),
//  url('../fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
//  url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
//  url('../fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype'),
//  url('../fonts/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrlight') format('svg');
//  font-weight: 400;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'Helvetica Neue';
//  src: url('../fonts/HelveticaNeueCyr-Bold.eot');
//  src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
//  url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
//  url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype'),
//  url('../fonts/HelveticaNeueCyr-Bold.svg#robotobold') format('svg');
//  font-weight: 700;
//  font-style: normal;
//}

// Garniture => Bebas Neue
//--------------------------------------------------//
