//----------------------------------------------------//
// Variables                                          //
//----------------------------------------------------//
$mainFont: 'Helvetica Neue';
$mainFontSize: 18px;
$mainFontHeight: 24px;
$mainFontWeight: 400;
$mainFontColor: #000;

//$secondFont: 'Verdana';
$secondFontSize: 14px;
$secondFontHeight: 22px;
$secondFontWeign: 400;
$secondFontColor: #fff;

$fixFont: Verdana;
$fixFontSize: 14px;
$fixFontHeight: 24px;

// Variables => Colors
//----------------------------------------------------//
$default: #f28058;

