@@include('template/layout/header.html')

<section class="breadcrambs">
    <div class="container">
        <ul class="breadcrambs__list">
            <li class="breadcrambs__list-item"><a class="breadcrambs__list-link" href="#">Главная <span>&rarr;</span></a></li>
            <li class="breadcrambs__list-item"><a class="breadcrambs__list-link" href="#">Новости</a></li>
        </ul>
    </div>
</section>
<section class="contacts">
    <div class="container">
        <h3 class="contacts__title">Контакты</h3>
        <div class="contacts__map"></div>
        <div class="contacts__wrapper">
            <div class="contacts__item">
                <div class="contacts__item-title active">Москва</div>
                <div class="contacts__wrap">
                    <div class="contacts__block clearfix">
                        <span class="contacts__icon contacts-address"></span>
                        <div class="contacts__address"><strong>ООО "ВистаСтройСервис"</strong><br>г. Москва, Просвирин переулок, дом 15</div>
                    </div>
                    <div class="contacts__block clearfix">
                        <span class="contacts__icon contacts-phone"></span>
                        <a class="contacts__phone" href="tel:+388003337323">8 (800) 333 73 23</a>
                    </div>
                    <div class="contacts__block clearfix">
                        <span class="contacts__icon contacts-email"></span>
                        <a class="contacts__email" href="malto:info@naturi.su">info@naturi.su</a>
                    </div>
                </div>
            </div>
            <div class="contacts__item">
                <div class="contacts__item-title">Санкт-Петербург</div>
                <div class="contacts__wrap">
                    <div class="contacts__block clearfix">
                        <span class="contacts__icon contacts-address"></span>
                        <div class="contacts__address"><strong>ООО "ВистаСтройСервис"</strong>  </div>
                    </div>
                    <div class="contacts__block clearfix">
                        <span class="contacts__icon contacts-phone"></span>
                        <a class="contacts__phone" href="tel:+388003337323">8 (800) 333 73 23</a>
                    </div>
                    <div class="contacts__block clearfix">
                        <span class="contacts__icon contacts-email"></span>
                        <a class="contacts__email" href="malto:info@naturi.su">info@naturi.su</a>
                    </div>
                </div>
            </div>
            <div class="contacts__item">
                <div class="contacts__item-title">Казань</div>
                <div class="contacts__wrap">
                    <div class="contacts__block clearfix">
                        <span class="contacts__icon contacts-address"></span>
                        <div class="contacts__address"><strong>ООО "ВистаСтройСервис"</strong><br>г. Москва, Просвирин переулок, дом 15</div>
                    </div>
                    <div class="contacts__block clearfix">
                        <span class="contacts__icon contacts-phone"></span>
                        <a class="contacts__phone" href="tel:+388003337323">8 (800) 333 73 23</a>
                    </div>
                    <div class="contacts__block clearfix">
                        <span class="contacts__icon contacts-email"></span>
                        <a class="contacts__email" href="malto:info@naturi.su">info@naturi.su</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
@@include('template/layout/footer.html')2