@@include('template/layout/header.html')

	<main class="content">
	<section class="main">
		<div class="main__slider">
			<div class="main__slider-item"><img class="main__slider-img" src="img/slider_0.jpg" alt="foto"></div>
			<div class="main__slider-item"><img class="main__slider-img" src="img/slider_2.jpg" alt="foto"></div>
			<div class="main__slider-item"><img class="main__slider-img" src="img/slider_3.jpg" alt="foto"></div>
			<div class="main__slider-item"><img class="main__slider-img" src="img/slider_4.jpg" alt="foto"></div>

		</div>
	</section>

	<section class="popular">
		<div class="container">
			<h2 class="popular__h2">Популярные проекты</h2>
			<div class="popular__item">
				<a class="popular__item-link" href="#">
					<img class="popular__item-img" src="img/pic_1.jpg" alt="foto">
					<span class="popular__item-span">
					<span class="popular__item-title">Шале</span>
					<span class="popular__item-price">5 770 000 <span class="popular__item-rub">P</span></span>
				</span>
				</a>
				<div class="popular__info">
					<div class="popular__wrap">
						<span class="popular__info-text">Площадь дома</span>
						<span class="popular__info-price">250<span>м</span><sup>2</sup></span>
					</div>
					<div class="popular__wrap">
						<span class="popular__info-text">Площадь терасс</span>
						<span class="popular__info-price">191<span>м</span><sup>2</sup></span>
					</div>
				</div>
			</div>
			<div class="popular__item">
				<a class="popular__item-link" href="#">
					<img class="popular__item-img" src="img/pic_2.jpg" alt="foto">
					<span class="popular__item-span">
					<span class="popular__item-title">Ривьера</span>
					<span class="popular__item-price">4 690 000 <span class="popular__item-rub">P</span></span>
				</span>
				</a>
				<div class="popular__info">
					<div class="popular__wrap">
						<span class="popular__info-text">Площадь дома</span>
						<span class="popular__info-price">299<span>м</span><sup>2</sup></span>
					</div>
					<div class="popular__wrap">
						<span class="popular__info-text">Площадь терасс</span>
						<span class="popular__info-price">191<span>м</span><sup>2</sup></span>
					</div>
				</div>
			</div>
			<div class="popular__item">
				<a class="popular__item-link" href="#">
					<img class="popular__item-img" src="img/pic_3.jpg" alt="foto">
					<span class="popular__item-span">
					<span class="popular__item-title">Норвежский (Фазенда)</span>
					<span class="popular__item-price">700 000 <span class="popular__item-rub">P</span></span>
				</span>
				</a>
				<div class="popular__info">
					<div class="popular__wrap">
						<span class="popular__info-text">Площадь дома</span>
						<span class="popular__info-price">27<span>м</span><sup>2</sup></span>
					</div>
					<div class="popular__wrap">
						<span class="popular__info-text">Площадь терасс</span>
						<span class="popular__info-price">191<span>м</span><sup>2</sup></span>
					</div>
				</div>
			</div>
			<div class="popular__button">
				<a href="/katalog/" class="btn popular__link">ПОКАЗАТЬ ВСЕ</a>
			</div>
		</div>
	</section>

	<section class="znakomstvo">
		<div class="container">
			<h2 class="znakomstvo__h2">Знакомство с компанией</h2>
			<p class="znakomstvo__p">Мы работаем в среде комфорта. Мы строим дома для людей. Не сиюминутные продажи, не краткосрочные услуги,
				а место, где человек и его семья будут чувствовать себя счастливыми каждый день. И эту большую
				ответственность мы с радостью берем на себя! Мы мыслим по-новому, шагаем в ногу со временем и применяем
				передовые технологии. Мы любим свое дело!</p>
			<div class="znakomstvo__wrapper">
				<div class="znakomstvo__wrapper-item"><span class="znakomstvo__img">20</span><span class="znakomstvo__span">лет опыта<br> в строительстве деревянных<br> домов</span></div>
				<div class="znakomstvo__wrapper-item"><span class="znakomstvo__img">300+</span><span class="znakomstvo__span">реализованных<br> проектов на территории<br> России и Европы</span></div>
				<div class="znakomstvo__wrapper-item"><span class="znakomstvo__img"><img src="img/c-znak-number.png" alt="foto"></span><span class="znakomstvo__span">Отсутствие усадки<br> можем начать отделку<br> сразу после стройки</span></div>
				<div class="znakomstvo__wrapper-item"><span class="znakomstvo__img"><img src="img/c-znak-calendar.png" alt="foto"></span><span class="znakomstvo__span">Скорость строительства<br> дом под ключ 200м2<br> за три месяца</span></div>
			</div>
		</div>
		<div class="znakomstvo__youtube">
			<div class="video">
				<div class="video__wrap">
					<iframe src="https://www.youtube.com/embed/2RahobCnXS8"  allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</section>

		<section class="reviews">
			<div class="container">
				<h2 popular__h2>Отзывы о нашей компании</h2>
				<div class="reviews__slider ">
					<div class="reviews__wrapper clearfix">
						<div class="reviews__left">
							<div class="reviews__title">проект «Скандик»</div>
							<div class="reviews__author">Константин Тихонов</div>
							<div class="reviews__content">Компания крутая! Всё супер! Дом построили быстро, а главное
								качественно. Советую Naturi, если Вы задумали строить дом. Спасибо сотрудникам за отзывчивость.</div>
						</div>
						<div class="reviews__right">
							<div class="reviews__title">проект «Норвежский»</div>
							<div class="reviews__author">Никита Орлов</div>
							<div class="reviews__content">Отличные проекты домов и уникальная технология! Сравнивать
								эту компанию с другими нельзя, так как в России больше никто из вертикального бруса не
								строит. Лично ездил в Конаково Ривер клаб, чтобы посмотреть как выглядят готовые дома.
								В итоге подписал договор на индивидуальный проект.</div>
						</div>
					</div>
					<div class="reviews__wrapper clearfix">
						<div class="reviews__left">
							<div class="reviews__title">проект «Скандик_2»</div>
							<div class="reviews__author">Константин Тихонов</div>
							<div class="reviews__content">Компания крутая! Всё супер! Дом построили быстро, а главное
								качественно. Советую Naturi, если Вы задумали строить дом. Спасибо сотрудникам за отзывчивость.</div>
						</div>
						<div class="reviews__right">
							<div class="reviews__title">проект «Норвежский»</div>
							<div class="reviews__author">Никита Орлов</div>
							<div class="reviews__content">Отличные проекты домов и уникальная технология! Сравнивать
								эту компанию с другими нельзя, так как в России больше никто из вертикального бруса не
								строит. Лично ездил в Конаково Ривер клаб, чтобы посмотреть как выглядят готовые дома.
								В итоге подписал договор на индивидуальный проект.</div>
						</div>
					</div>
					<div class="reviews__wrapper clearfix">
						<div class="reviews__left">
							<div class="reviews__title">проект «Скандик_3»</div>
							<div class="reviews__author">Константин Тихонов</div>
							<div class="reviews__content">Компания крутая! Всё супер! Дом построили быстро, а главное
								качественно. Советую Naturi, если Вы задумали строить дом. Спасибо сотрудникам за отзывчивость.</div>
						</div>
						<div class="reviews__right">
							<div class="reviews__title">проект «Норвежский»</div>
							<div class="reviews__author">Никита Орлов</div>
							<div class="reviews__content">Отличные проекты домов и уникальная технология! Сравнивать
								эту компанию с другими нельзя, так как в России больше никто из вертикального бруса не
								строит. Лично ездил в Конаково Ривер клаб, чтобы посмотреть как выглядят готовые дома.
								В итоге подписал договор на индивидуальный проект.</div>
						</div>
					</div>

				</div>

			</div>
		</section>

		<section class="info">
			<div class="container">
				<div class="info__wrapper">
					<div class="info__item">
						<a class="info__link-bg info__link-bg1" href="#"></a>
						<a class="info__link-text" href="#">
							Naturi в России
						</a>
					</div>
					<div class="info__item">
						<a class="info__link-bg info__link-bg2" href="#"></a>
						<a class="info__link-text" href="#">
							Сертификаты
						</a>
					</div>
					<div class="info__item">
						<a class="info__link-bg info__link-bg3" href="#"></a>
						<a class="info__link-text" href="#">
							СМИ о Naturi
						</a>
					</div>
				</div>
			</div>
		</section>

	</main><!-- MAIN CONTENT [END] -->

@@include('template/layout/footer.html')
 