@@include('template/layout/header.html')

<section class="breadcrambs">
    <div class="container">
        <ul class="breadcrambs__list">
            <li class="breadcrambs__list-item"><a class="breadcrambs__list-link" href="#">Главная <span>&rarr;</span></a></li>
            <li class="breadcrambs__list-item"><a class="breadcrambs__list-link" href="#">Новости</a></li>
        </ul>
    </div>
</section>

<section class="news">
    <div class="container">
        <h3 class="unique__title">Новости</h3>
        <div class="news__wrapper">
            <div class="news__item">
                <a href="#" class="news__item-link">
                    <img src="img/pic_1.jpg" alt="foto">
                    <div class="news__item-text">
                        <time>05 02 2018</time>
                        <p><b>Новости о «Харли»</b> Компания Naturi полных ходом ведет работы по дому «Харли». Старт строительству был дан этой весной. Проект дома был утвержден в апреле этого года, и мы сразу же приступили к работе.</p>
                    </div>
                </a>
            </div>
            <div class="news__item">
                <a href="#" class="news__item-link">
                    <img src="img/pic_1.jpg" alt="foto">
                    <div class="news__item-text">
                        <time>05 02 2018</time>
                        <p><b>Новости о «Харли»</b> Компания Naturi полных ходом ведет работы по дому «Харли». Старт строительству был дан этой весной. Проект дома был утвержден в апреле этого года, и мы сразу же приступили к работе.</p>
                    </div>
                </a>
            </div>
            <div class="news__item">
                <a href="#" class="news__item-link">
                    <img src="img/pic_2.jpg" alt="foto">
                    <div class="news__item-text">
                        <time>05 02 2018</time>
                        <p><b>Новости о «Харли»</b> к работе.</p>
                    </div>
                </a>
            </div>
            <div class="news__item">
                <a href="#" class="news__item-link">
                    <img src="img/pic_2.jpg" alt="foto">
                    <div class="news__item-text">
                        <time>05 02 2018</time>
                        <p><b>Новости о «Харли»</b> к работе.</p>
                    </div>
                </a>
            </div>
            <div class="news__item">
                <a href="#" class="news__item-link">
                    <img src="img/pic_3.jpg" alt="foto">
                    <div class="news__item-text">
                        <time>05 02 2018</time>
                        <p><b>Новости о «Харли»</b> Компания Naturi полных ходом ведет работы по дому «Харли». Старт строительству был дан этой весной. Проект дома был утвержден в апреле этого года, и мы сразу же приступили к работе.</p>
                    </div>
                </a>
            </div>
            <div class="news__item">
                <a href="#" class="news__item-link">
                    <img src="img/pic_1.jpg" alt="foto">
                    <div class="news__item-text">
                        <time>05 02 2018</time>
                        <p><b>Новости о «Харли»</b> Компания Naturi полных ходом ведет работы по дому «Харли». Старт строительству был дан этой весной. Проект дома был утвержден в апреле этого года, и мы сразу же приступили к работе.</p>
                    </div>
                </a>
            </div>

        </div>
        <div class="popular__button">
            <a href="/katalog/" class="btn popular__link">ПОКАЗАТЬ ВСЕ</a>
        </div>
    </div>
</section>


@@include('template/layout/footer.html')