@@include('template/layout/header.html')

<section class="breadcrambs">
    <div class="container">
        <ul class="breadcrambs__list">
            <li class="breadcrambs__list-item"><a class="breadcrambs__list-link" href="#">Главная <span>&rarr;</span></a></li>
            <li class="breadcrambs__list-item"><a class="breadcrambs__list-link" href="#">Проекты</a></li>
        </ul>
    </div>
</section>


<section class="filters">
    <div class="container">
        <form action="#">
            <div class="filters__item">
                <span class="filter__item-title">Цена</span>

            </div>
        </form>
    </div>
</section>


<section class="popular">
    <div class="container">

        <div class="popular__item">
            <a class="popular__item-link" href="#">
                <img class="popular__item-img" src="img/pic_1.jpg" alt="foto">
                <span class="popular__item-span">
					<span class="popular__item-title">Шале</span>
					<span class="popular__item-price">5 770 000 <span class="popular__item-rub">P</span></span>
				</span>
            </a>
            <div class="popular__info">
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь дома</span>
                    <span class="popular__info-price">250<span>м</span><sup>2</sup></span>
                </div>
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь терасс</span>
                    <span class="popular__info-price">191<span>м</span><sup>2</sup></span>
                </div>
            </div>
        </div>
        <div class="popular__item">
            <a class="popular__item-link" href="#">
                <img class="popular__item-img" src="img/pic_1.jpg" alt="foto">
                <span class="popular__item-span">
					<span class="popular__item-title">Шале</span>
					<span class="popular__item-price">5 770 000 <span class="popular__item-rub">P</span></span>
				</span>
            </a>
            <div class="popular__info">
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь дома</span>
                    <span class="popular__info-price">250<span>м</span><sup>2</sup></span>
                </div>
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь терасс</span>
                    <span class="popular__info-price">191<span>м</span><sup>2</sup></span>
                </div>
            </div>
        </div>
        <div class="popular__item">
            <a class="popular__item-link" href="#">
                <img class="popular__item-img" src="img/pic_1.jpg" alt="foto">
                <span class="popular__item-span">
					<span class="popular__item-title">Шале</span>
					<span class="popular__item-price">5 770 000 <span class="popular__item-rub">P</span></span>
				</span>
            </a>
            <div class="popular__info">
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь дома</span>
                    <span class="popular__info-price">250<span>м</span><sup>2</sup></span>
                </div>
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь терасс</span>
                    <span class="popular__info-price">191<span>м</span><sup>2</sup></span>
                </div>
            </div>
        </div>
        <div class="popular__item">
            <a class="popular__item-link" href="#">
                <img class="popular__item-img" src="img/pic_1.jpg" alt="foto">
                <span class="popular__item-span">
					<span class="popular__item-title">Шале</span>
					<span class="popular__item-price">5 770 000 <span class="popular__item-rub">P</span></span>
				</span>
            </a>
            <div class="popular__info">
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь дома</span>
                    <span class="popular__info-price">250<span>м</span><sup>2</sup></span>
                </div>
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь терасс</span>
                    <span class="popular__info-price">191<span>м</span><sup>2</sup></span>
                </div>
            </div>
        </div>
        <div class="popular__item">
            <a class="popular__item-link" href="#">
                <img class="popular__item-img" src="img/pic_2.jpg" alt="foto">
                <span class="popular__item-span">
					<span class="popular__item-title">Ривьера</span>
					<span class="popular__item-price">4 690 000 <span class="popular__item-rub">P</span></span>
				</span>
            </a>
            <div class="popular__info">
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь дома</span>
                    <span class="popular__info-price">299<span>м</span><sup>2</sup></span>
                </div>
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь терасс</span>
                    <span class="popular__info-price">191<span>м</span><sup>2</sup></span>
                </div>
            </div>
        </div>
        <div class="popular__item">
            <a class="popular__item-link" href="#">
                <img class="popular__item-img" src="img/pic_3.jpg" alt="foto">
                <span class="popular__item-span">
					<span class="popular__item-title">Норвежский (Фазенда)</span>
					<span class="popular__item-price">700 000 <span class="popular__item-rub">P</span></span>
				</span>
            </a>
            <div class="popular__info">
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь дома</span>
                    <span class="popular__info-price">27<span>м</span><sup>2</sup></span>
                </div>
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь терасс</span>
                    <span class="popular__info-price">191<span>м</span><sup>2</sup></span>
                </div>
            </div>
        </div>
        <div class="popular__item">
            <a class="popular__item-link" href="#">
                <img class="popular__item-img" src="img/pic_1.jpg" alt="foto">
                <span class="popular__item-span">
					<span class="popular__item-title">Шале</span>
					<span class="popular__item-price">5 770 000 <span class="popular__item-rub">P</span></span>
				</span>
            </a>
            <div class="popular__info">
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь дома</span>
                    <span class="popular__info-price">250<span>м</span><sup>2</sup></span>
                </div>
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь терасс</span>
                    <span class="popular__info-price">191<span>м</span><sup>2</sup></span>
                </div>
            </div>
        </div>
        <div class="popular__item">
            <a class="popular__item-link" href="#">
                <img class="popular__item-img" src="img/pic_1.jpg" alt="foto">
                <span class="popular__item-span">
					<span class="popular__item-title">Шале</span>
					<span class="popular__item-price">5 770 000 <span class="popular__item-rub">P</span></span>
				</span>
            </a>
            <div class="popular__info">
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь дома</span>
                    <span class="popular__info-price">250<span>м</span><sup>2</sup></span>
                </div>
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь терасс</span>
                    <span class="popular__info-price">191<span>м</span><sup>2</sup></span>
                </div>
            </div>
        </div>
        <div class="popular__item">
            <a class="popular__item-link" href="#">
                <img class="popular__item-img" src="img/pic_1.jpg" alt="foto">
                <span class="popular__item-span">
					<span class="popular__item-title">Шале</span>
					<span class="popular__item-price">5 770 000 <span class="popular__item-rub">P</span></span>
				</span>
            </a>
            <div class="popular__info">
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь дома</span>
                    <span class="popular__info-price">250<span>м</span><sup>2</sup></span>
                </div>
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь терасс</span>
                    <span class="popular__info-price">191<span>м</span><sup>2</sup></span>
                </div>
            </div>
        </div>
        <div class="popular__item">
            <a class="popular__item-link" href="#">
                <img class="popular__item-img" src="img/pic_1.jpg" alt="foto">
                <span class="popular__item-span">
					<span class="popular__item-title">Шале</span>
					<span class="popular__item-price">5 770 000 <span class="popular__item-rub">P</span></span>
				</span>
            </a>
            <div class="popular__info">
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь дома</span>
                    <span class="popular__info-price">250<span>м</span><sup>2</sup></span>
                </div>
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь терасс</span>
                    <span class="popular__info-price">191<span>м</span><sup>2</sup></span>
                </div>
            </div>
        </div>
        <div class="popular__item">
            <a class="popular__item-link" href="#">
                <img class="popular__item-img" src="img/pic_1.jpg" alt="foto">
                <span class="popular__item-span">
					<span class="popular__item-title">Шале</span>
					<span class="popular__item-price">5 770 000 <span class="popular__item-rub">P</span></span>
				</span>
            </a>
            <div class="popular__info">
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь дома</span>
                    <span class="popular__info-price">250<span>м</span><sup>2</sup></span>
                </div>
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь терасс</span>
                    <span class="popular__info-price">191<span>м</span><sup>2</sup></span>
                </div>
            </div>
        </div>
        <div class="popular__item">
            <a class="popular__item-link" href="#">
                <img class="popular__item-img" src="img/pic_1.jpg" alt="foto">
                <span class="popular__item-span">
					<span class="popular__item-title">Шале</span>
					<span class="popular__item-price">5 770 000 <span class="popular__item-rub">P</span></span>
				</span>
            </a>
            <div class="popular__info">
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь дома</span>
                    <span class="popular__info-price">250<span>м</span><sup>2</sup></span>
                </div>
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь терасс</span>
                    <span class="popular__info-price">191<span>м</span><sup>2</sup></span>
                </div>
            </div>
        </div>
        <div class="popular__item">
            <a class="popular__item-link" href="#">
                <img class="popular__item-img" src="img/pic_1.jpg" alt="foto">
                <span class="popular__item-span">
					<span class="popular__item-title">Шале</span>
					<span class="popular__item-price">5 770 000 <span class="popular__item-rub">P</span></span>
				</span>
            </a>
            <div class="popular__info">
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь дома</span>
                    <span class="popular__info-price">250<span>м</span><sup>2</sup></span>
                </div>
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь терасс</span>
                    <span class="popular__info-price">191<span>м</span><sup>2</sup></span>
                </div>
            </div>
        </div>
        <div class="popular__item">
            <a class="popular__item-link" href="#">
                <img class="popular__item-img" src="img/pic_1.jpg" alt="foto">
                <span class="popular__item-span">
					<span class="popular__item-title">Шале</span>
					<span class="popular__item-price">5 770 000 <span class="popular__item-rub">P</span></span>
				</span>
            </a>
            <div class="popular__info">
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь дома</span>
                    <span class="popular__info-price">250<span>м</span><sup>2</sup></span>
                </div>
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь терасс</span>
                    <span class="popular__info-price">191<span>м</span><sup>2</sup></span>
                </div>
            </div>
        </div>
        <div class="popular__item">
            <a class="popular__item-link" href="#">
                <img class="popular__item-img" src="img/pic_1.jpg" alt="foto">
                <span class="popular__item-span">
					<span class="popular__item-title">Шале</span>
					<span class="popular__item-price">5 770 000 <span class="popular__item-rub">P</span></span>
				</span>
            </a>
            <div class="popular__info">
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь дома</span>
                    <span class="popular__info-price">250<span>м</span><sup>2</sup></span>
                </div>
                <div class="popular__wrap">
                    <span class="popular__info-text">Площадь терасс</span>
                    <span class="popular__info-price">191<span>м</span><sup>2</sup></span>
                </div>
            </div>
        </div>
        <div class="popular__button">
            <a href="/katalog/" class="btn popular__link">ПОКАЗАТЬ ВСЕ</a>
        </div>
    </div>
</section>


<section class="unique">
    <div class="container">
        <h3 class="unique__title">Каждый дом - уникален.</h3>
        <p class="unique__p"><p>Мы мыслим по-новому, шагаем в ногу со временем и применяем передовые технологии. Мы любим свое дело. Мы точно знаем, что надежность, профессионализм и забота по отношению к будущему хозяину дома – наши главные приоритеты. И никогда, ни при каких обстоятельствах мы не забываем про это.<br>В базовую стоимость проекта, указанную на сайте, входит стеновой комплект дома и работы по монтажу (с сопутствующими расходами). Цена фундамента, кровли и последующих этапов будет зависеть от региона строительства. Компания Naturi выполняет заказы по всей России, странам СНГ и Евросоюза.</p></p>
    </div>
</section>
@@include('template/layout/footer.html')