@@include('template/layout/header.html')

<section class="breadcrambs">
    <div class="container">
        <ul class="breadcrambs__list">
            <li class="breadcrambs__list-item"><a class="breadcrambs__list-link" href="#">Главная <span>&rarr;</span></a></li>
            <li class="breadcrambs__list-item"><a class="breadcrambs__list-link" href="#">Новости</a></li>
        </ul>
    </div>
</section>

<section class="more">
    <div class="container">
        <div class="more__inner">
            <div class="more__title">Более подробную информацию о технологии NATURI<br>вы можете узнать из нашего буклета.</div>
            <div class="more__button"><a class="more__button-link" href="#" target="_blank">Скачать</a></div>
        </div>
    </div>
</section>
<section class="work">
    <div class="container">
        <div class="work__title">NATURI <span>философия</span></div>
        <p class="work__p">Мы работаем в среде комфорта. Мы строим дома для людей. Не сиюминутные продажи,<br>
            не краткосрочные услуги, а место, где человек и его семья будут чувствовать себя счастливыми.<br>
            И эту большую ответственность мы с радостью берем на себя!<br>
            Мы мыслим по-новому и шагаем в ногу со временем.</p>
        <div class="work__inner">
            <div class="work__left"><img src="img/tech_1.png" alt="foto"></div>
            <div class="work__right">
                <div class="work__right-title">Мы любим свое дело!</div>
                <div class="work__right-p">Мы следим за тенденциями рынка и применяем современные технологии в работе;</div>
                <div class="work__right-p">Основываемся на своем 20-летнем опыте строительства деревянных домов, чтобы предлагать Вам только лучшее;</div>
                <div class="work__right-p">В работе с Вами мы создаем комфортную атмосферу, начиная
                    с самого первого
                    знакомства.</div>
            </div>
        </div>
    </div>
</section>
<section class="reason">
    <div class="container">
        <div class="reason__title">Главный отличительный признак стены Naturi — вертикальное
            расположение стеновых элементов из массивной древесины.</div>
        <div class="reason__inner">
            <div class="reason__item">
                <div class=reason__item-title"> Ваш дом будет теплым</div>
                <div class="reason__item-p">Благодаря особенностям конструкции, можно подобрать оптимальную толщину
                    стен, чтобы в доме всегда была комфортная температура.</div>
                <a class="reason__item-link" href="#">Подробнее</a>
            </div>



            <div class="reason__item"><img src="img/warm.jpg" alt="foto"></div>
            <div class="reason__item"><img src="img/reliable.jpg" alt="foto"></div>
            <div class="reason__item"></div>
            <div class="reason__item"><img src="img/healthy.jpg" alt="foto"></div>
            <div class="reason__item"></div>
        </div>
    </div>
</section>
@@include('template/layout/footer.html')