	</div><!-- FOOTER FIX [END] -->

	<!-- FOOTER -->
	<footer class="footer">
		<div class="container">
			<div class="footer__row">
				<div class="footer__row-item">
					<a href="#" class="header__logo">
						<img class="header__logo-img" src="img/headerLogo.png" alt="logo">
					</a>
					<span class="footer__row-span">©2008-2017 Naturi. Все права защищены.</span>
					<div class="footer__row-social">
						<a href="#"><span class="footer__row-facebook footer__row-soc"></span></a>
						<a href="#"><span class="footer__row-twitter footer__row-soc"></span></a>
						<a href="#"><span class="footer__row-vk footer__row-soc"></span></a>
						<a href="#"><span class="footer__row-ok footer__row-soc"></span></a>
						<a href="#"><span class="footer__row-youtube footer__row-soc"></span></a>
						<a href="#"><span class="footer__row-instagram footer__row-soc"></span></a>
					</div>
				</div>
				<div class="footer__row-item footer__row-center">
					<ul class="footer__list">
						<li class="footer__list-item"><a class="footer__list-link" href="#">Проекты</a></li>
						<li class="footer__list-item"><a class="footer__list-link" href="#">Галерея</a></li>
						<li class="footer__list-item"><a class="footer__list-link" href="#">Технологии</a></li>
						<li class="footer__list-item"><a class="footer__list-link" href="#">Контакты</a></li>
					</ul>
					<ul class="footer__list">
						<li class="footer__list-item"><a class="footer__list-link" href="#">Натури в России</a></li>
						<li class="footer__list-item"><a class="footer__list-link" href="#">Сертификаты</a></li>
						<li class="footer__list-item"><a class="footer__list-link" href="#">СМИ о Натури</a></li>
						<li class="footer__list-item"><a class="footer__list-link" href="#">Новости</a></li>
					</ul>
					<ul class="footer__list">
						<li class="footer__list-item"><a class="footer__list-link" href="#">Блог Натури</a></li>
						<li class="footer__list-item"><a class="footer__list-link" href="#">Партнеры</a></li>
						<li class="footer__list-item"><a class="footer__list-link" href="#">Отзывы</a></li>
						<li class="footer__list-item"><a class="footer__list-link" href="#">Карта сайта</a></li>
					</ul>
				</div>
				<div class="footer__row-item">
					<a class="footer__row-tel" href="tel:+388003337323">8 800 333 73 23</a>
					<a class="footer__row-order" href="#">Заказать обратный звонок</a>
					<a href="#" class="clearfix">
						<span class="footer__row-soc footer__row-pdf"></span>
						<span class="footer__row-buk">
							<span class="footer__row-dwl">Скачайте буклет</span>
							<span class="footer__row-file">.pdf (30 Mb)</span>
						</span>
					</a>
				</div>

			</div>
			<div class="footer__row">
				<div class="footer__type">
					<span class="footer__type-span">ТИП ПРОЕКТА</span>
					<ul class="footer__type-list">
						<li class="footer__type-item"><a class="footer__type-link" href="#">Бани</a></li>
						<li class="footer__type-item"><a class="footer__type-link" href="#">Дома из вертикального бруса</a></li>
					</ul>
				</div>
				<div class="footer__type">
					<span class="footer__type-span">ЭТАЖНОСТЬ:</span>
					<ul class="footer__type-list">
						<li class="footer__type-item"><a class="footer__type-link" href="#">Одноэтажные дома</a></li>
						<li class="footer__type-item"><a class="footer__type-link" href="#">Двухэтажные дома</a></li>
					</ul>
				</div>
				<div class="footer__type">
					<span class="footer__type-span">ПЛОЩАДЬ</span>
					<ul class="footer__type-list">
						<li class="footer__type-item"><a class="footer__type-link" href="#">Дома до 150 м2</a></li>
						<li class="footer__type-item"><a class="footer__type-link" href="#">Дома от 150 м2 до 300 м2</a></li>
						<li class="footer__type-item"><a class="footer__type-link" href="#">Дома более 300 м2</a></li>
					</ul>
				</div>
			</div>
			<div class="footer__row">
				<a class="footer__pdf"  href="#">Политика конфиденциальности</a>
				<a class="footer__pdf" target="_blank" href="#">ТУ производства</a>
				<a class="footer__pdf" target="_blank" href="#">Положение о гарантии</a>
				<span class="footer__copy">Сделано в <a class="footer__copy-link" href="#">Ntweb</a></span>
			</div>

		</div>
	</footer><!-- FOOTER END -->

	<!-- Scripts load -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/script.js"></script>

	</body>
</html>